body {
    background-image:  linear-gradient(
        5000deg,
        #bd2289 5%,
        #911496 20%,
        #5a0d69 60%,
        #3b1153 95%
    );
    margin: 0;
    min-height: 0vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section img {
    border-radius: 5px;
    height: 300px;
    margin: 15px 0;
    width: 500px;  
}

main > section button {
    background-color: #9cbd27;
    border: none;
    border-radius: 15em;
    box-shadow: #32501a 0 10px 2px;
    color: azure;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 500px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 9px 23px;
    text-transform: uppercase;
    
    
    
}

button:active {
    box-shadow: none;
    transform: translateY(5px);  
}

#detalhes-container {
    color: whitesmoke;
    font-weight: bold;
    list-style-type: none;
    text-align: center;
    width: 80%;
}


#detalhes-container > li {
    color:rgb(230, 213, 213)
}